{% extends 'base.html' %}
{% load widget_tweaks %}

{% block navbar_left %}
<li ><a href="{%  url 'first_page' %}">Home</a></li>
<li ><a href="{%  url 'all_post' %}">All Posts </a></li>
<li class="active"><a href="#">Edit Post </a></li>
{% endblock %}

{% block navbar_right %}
<a class="btn btn-default" href="{%  url 'settings' %}">Setting</a>
{% endblock %}


{% block blog-name %}
 {% endblock %}

{% block container-body %}
<div class="row new-post-row">
    <div class="col-lg-12 col-md-12 align-self-center">
        <form method="post" novalidate>
            {% csrf_token %}
            {% for field in form %}
              <div class="form-group new-post-form">
                {{ field.label_tag }}
                {% render_field field class="form-control" %}

                {% if field.help_text %}
                  <small class="form-text text-muted">
                    {{ field.help_text }}
                  </small>
                {% endif %}
              </div>
            {% endfor %}
            <button type="submit" class="btn btn-success">Update </button>
        </form>
    </div>
</div>
{% endblock %}