{% load widget_tweaks %}
{% csrf_token %}
{% if  messages %}
<div class="messages " style="margin: 10px; ">
    {% for message in messages %}
    <span class="alert alert-danger">{{ message }}</span>
    {% endfor %}
</div>
{% endif %}
{% for field in form %}
<div class="form-group">
    {{ field.label }}

    {% render_field field class="form-control" %}

    {% if field.help_text %}
    <small class="form-text text-muted">
        {{ field.help_text }}
    </small>
    {% endif %}
    {% for error in field.errors %}
    <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
</div>
{% endfor %}