
{% extends 'base.html' %}
{% block navbar_left %}
<li class="active"><a href="{%  url 'first_page' %}">Home</a></li>
<li><a href="{%  url 'all_post' %}">All Posts </a></li>
{% endblock %}


{% block post_card %}
<div class="col-lg-9 col-md-9">
    {% for post in posts_2 %}
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">{{ post.title }}</h3>
            <h6 class="card-subtitle mb-2 text-muted">{{ post.updated_on }}</h6>
            <p class="card-text">{{ post.body }}</p>
            <a href="{%  url 'specific_post' all_posts.0.pk %}" class="card-link">Load more ...</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
