<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Django Blogs</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
  </head>
  <body>
    <div class="container">
      <h1 class="text-center logo my-4">
        <a href="#">Django Blogs</a>
      </h1>
      <div class="row justify-content-center ">
        <div class=" card_parent col-lg-8 col-md-10 col-sm-12 ">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Sign up</h3>
                <form  method="post" novalidate >
                    {% csrf_token %}
                    {% include 'form.html' %}
                    <button type="submit" class="btn btn-success" name="reply">Signup</button>
                </form>
            </div>
            <div class="card-footer text-muted text-center">
              Already have an account? <a href="{% url 'home' %}">Log in</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>